<div class="header-section">

    <!-- Header Main Start -->
    <div class="header-main cyber-bg">
        <div class="container-fluid">

            <!-- Header Main Start -->
            <div class="header-main-wrapper">

                <!-- Header Logo Start -->
                <div class="header-logo w-9 mt-2">
                    <a [routerLink]="['']"><img src="assets/images/logo.png" alt="Logo" class="cyber-desktop-logo"></a>
                </div>
                <!-- Header Logo End -->

                <!-- Header Menu Start -->
                <div class="header-menu d-none d-lg-block w-13">
                    <ul class="nav-menu px-0 pull-left my-0">
                        <li class="d-flex">
                            <img src="assets/images/menu.png" class="img-responsive category-image" />
                            <a href="#" class="ctitle"><span>Categories</span></a>
                            <ul class="sub-menu">
                                <li routerLinkActive="active"><a [routerLink]="['/category']">Cyber Security</a></li>
                                <li><a [routerLink]="['/category']">Cloud</a></li>
                                <li><a [routerLink]="['/category']">Data Science</a></li>
                                <li><a [routerLink]="['/category']">DevOps</a></li>

                            </ul>
                        </li>

                        <!-- <li><a href="#">Become an Instructor</a></li> -->
                    </ul>
                </div>
                <!-- Header Menu End -->

                <div class="form-group has-search w-38">
                    <div layout="row" layout-fill layout-align="center center">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search courses">
                    </div>
                </div>

                <!-- Header Sing In & Up Start -->
                <div class="header-sign-in-up d-none d-lg-block w-39">
                    <ul class="right-header">
                        <li class="mt-20"><a class="cyber-login" [routerLink]="['/login']">Become an Instructor</a></li>
                        <li class="px-2 mt-20"><a [routerLink]="['/cart']"><span
                                    class="material-icons text-white">shopping_cart</span>
                                <span
                                    class="mt-15 header--dropdown-counter-badge--bsUVW udlite-notification-badge udlite-notification-counter"
                                    title="">1</span>
                            </a></li>
                        <li class="mt-20"><a class="cyber-login" [routerLink]="['/login']">Login</a></li>
                        <li class="mt-10px"><a class="cyber-singup" [routerLink]="['/register']">Sign Up</a></li>
                    </ul>
                </div>
                <!-- Header Sing In & Up End -->

                <!-- Header Mobile Toggle Start -->
                <div class="header-toggle d-lg-none">
                    <a class="menu-toggle" href="javascript:void(0)" (click)="showMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <!-- Header Mobile Toggle End -->

            </div>
            <!-- Header Main End -->

        </div>
    </div>
    <!-- Header Main End -->

</div>
<!-- Header Section End -->

<!-- Mobile Menu Start -->
<div class="mobile-menu" id="mobile">

    <!-- Menu Close Start -->
    <a class="menu-close" (click)="closeMenu()" href="javascript:void(0)">
        <i class="icofont-close-line"></i>
    </a>
    <!-- Menu Close End -->

    <!-- Mobile Sing In & Up Start -->
    <div class="mobile-sign-in-up">
        <a [routerLink]="['']"><img src="assets/images/logo.png" alt="Logo" class="cyber-desktop-logo"></a>
    </div>
    <!-- Mobile Sing In & Up End -->

    <!-- Mobile Menu Start -->
    <div class="mobile-menu-items">
        <ul class="nav-menu">
            <li><a [routerLink]="['']" (click)="closeMenu()">Home</a></li>
            <li><a [routerLink]="['/category']" (click)="closeMenu()">Categories</a></li>
            <li><a [routerLink]="['/login']" (click)="closeMenu()">Become An Instructor</a></li>
            <li><a [routerLink]="['/login']" (click)="closeMenu()">Log In</a></li>
            <li><a [routerLink]="['/register']" (click)="closeMenu()">Sign Up</a></li>
            <li>
                <a [routerLink]="['/cart']" (click)="closeMenu()">Cart
                    <div class="mobile-cart">
                        <span class="material-icons text-black">shopping_cart</span>
                        <span
                            class="header--dropdown-counter-badge--bsUVW udlite-notification-badge udlite-notification-counter"
                            title="">1</span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
    <!-- Mobile Menu End -->

    <!-- Mobile Menu End -->
    <div class="mobile-social">
        <ul class="social">
            <li><a href="#"><i class="flaticon-facebook"></i></a></li>
            <li><a href="#"><i class="flaticon-twitter"></i></a></li>
            <li><a href="#"><i class="flaticon-instagram"></i></a></li>
        </ul>
    </div>
    <!-- Mobile Menu End -->

</div>
<!-- Mobile Menu End -->

<!-- Overlay Start -->
<div class="overlay"></div>
<!-- Overlay End -->