a{
    text-decoration: none;
}
.header-main-wrapper{
    margin-top: 0px!important;
    border: none!important;
    height: 80px!important;
}
.header-top {
    height: 50px;
}
.pl-30{
    padding-left: 30px;
    padding-right: 30px;
}

.header-sign-in-up ul li a.sign-up {
    background-color: #212832!important;
    color: white!important;
}

.login{
    height: 60px;
    line-height: 56px;
    padding: 0 35px;
    border: 1px solid #212832;
    border-radius: 10px;
    margin-top: 6px;
}

.category-image{
    height: 30px;
    margin-top: 13px;
    margin-right: 10px;
}

.ctitle{
    margin-top: 17px!important;
    font-family: "Gordita";
    font-size: 17px!important;
    font-weight: 300!important;
}
.w-9{
    width: 9%;
}
.w-13{
    width: 13%;
}
.w-38{
    width: 38%;
}
.w-39{
    width: 39%;
}

.has-search .form-control {
    width: 100%;
}
.header--dropdown-counter-badge--bsUVW {
    top: 8px;
}

.header--dropdown-counter-badge--bsUVW, .header--header--3sK1h .header--dropdown-dot-badge--ni0x0 {
    position: absolute;
    font-size: 1.2rem;
    margin: 0;
}
.udlite-notification-badge {
    background: #e2037a;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
}
.udlite-notification-counter {
    border-radius: 9999px;
    font-size: 9px;
    min-width: 0em;
    padding: 0.2rem .87em;
}

.right-header{
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    float: right;
    padding-right: 20px;
}
@media only screen and (max-width: 768px){
    .header-logo a img {
        width: 150px!important;
        margin-left: -33px!important;
    }
    .w-9{
        width: 40%;
    }
    .has-search{
        margin-left: -75px!important;
    }
}

.mobile-cart{
    float: right;
    padding-right: 15px;
}