.swiper-wrapper li{
    width: 13%;
    margin-right: 15px;
}
.courses-tabs-menu .nav li button.active, .courses-tabs-menu .nav li button:hover {
    border-color: #19193b!important;
    color: #ffffff!important;
    background: #19193b!important;
}

a{
    text-decoration: none;
}

.btn-secondary {
    color: #fff;
    background-color: #e2037a;
    border-color: #6c757d;
}

@media only screen and (max-width:768px){
.category-menu{
    padding-left: 0em!important;
}
}