<!-- Page Banner Start -->
<div class="section page-banner">

    <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

    <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Courses</li>
            </ul>
            <h2 class="title">Upgrade Your <span>Skills</span></h2>
            <p>
                Learn the techniques, tools, and skills needed to keep data and applications safe with the industry's
                fastest growing and fastest
                moving catalog.
            </p>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <img class="icon-shape-1 animation-left" src="assets/images/shape/shape-5.png" alt="Shape">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="flaticon-badge"></i>
            </div>
        </div>

        <img class="icon-shape-2" src="assets/images/shape/shape-6.png" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">

    <img class="shape-author h-180 "
        src="assets/images/hacker.png"
        alt="Shape">

</div>
<!-- Page Banner End -->

<!-- Courses Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Courses Category Wrapper Start  -->
        <div class="courses-category-wrapper">
            <div class="courses-search search-2">
                <input type="text" placeholder="Search here">
                <button><i class="icofont-search"></i></button>
            </div>

            <ul class="category-menu">
                <li><a class="active" href="#">All Courses</a></li>
                <li><a href="#">Ethical Hacking</a></li>
                <li><a href="#">DevOps</a></li>
                <li><a href="#">Cloud Security</a></li>
                <li style="    margin-right: 20px;"><a href="#">Other</a></li>
            </ul>
        </div>
        <!-- Courses Category Wrapper End  -->

        <!-- Courses Wrapper Start  -->
        <div class="courses-wrapper-02">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-01.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-01.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Jason Williams</a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Data Science and Machine Learning with
                                    Python - Hands On!</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-02.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-02.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Pamela Foster </a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Create Amazing Color Schemes for Your UX
                                    Design Projects</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-03.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-03.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Rose Simmons</a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Culture & Leadership: Strategies for a
                                    Successful Business</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-04.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-04.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Jason Williams</a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Finance Series: Learn to Budget and
                                    Calculate your Net Worth.</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-05.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-05.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Pamela Foster</a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Build Brand Into Marketing: Tackling the
                                    New Marketing Landscape</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>


                <div class="col-lg-4 col-md-6">
                    <!-- Single Courses Start -->
                    <div class="single-courses">
                        <div class="courses-images">
                            <a [routerLink]="['/course-detail']"><img src="assets/images/courses/courses-05.jpg"
                                    alt="Courses"></a>

                            <div class="courses-option dropdown">
                                <button class="option-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icofont-share-alt"></i> Share</a></li>
                                    <li><a href="#"><i class="icofont-plus"></i> Create Collection</a></li>
                                    <li><a href="#"><i class="icofont-star"></i> Favorite</a></li>
                                    <li><a href="#"><i class="icofont-archive"></i> Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="courses-content">
                            <div class="courses-author">
                                <div class="author">
                                    <div class="author-thumb">
                                        <a href="#"><img src="assets/images/author/author-05.jpg" alt="Author"></a>
                                    </div>
                                    <div class="author-name">
                                        <a class="name" href="#">Pamela Foster</a>
                                        <a class="name-2" href="#">Ohula Malsh</a>
                                    </div>
                                </div>
                            </div>

                            <h4 class="title"><a [routerLink]="['/course-detail']">Build Brand Into Marketing: Tackling the
                                    New Marketing Landscape</a></h4>

                            <div class="courses-meta">
                                <span> <i class="icofont-clock-time"></i> 08 hr 15 mins</span>
                                <span> <i class="icofont-read-book"></i> 29 Lectures </span>
                            </div>
                            <div class="courses-price-review">
                                <div class="courses-price">
                                    <span class="sale-parice">$237.00</span>
                                </div>
                                <div class="courses-review">
                                    <span class="rating-count">4.9</span>
                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: 80%;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Courses End -->
                </div>
            </div>
        </div>
        <!-- Courses Wrapper End  -->

    </div>
</div>
<!-- Courses End -->




<!-- Call to Action Start -->
<div class="section section-padding-01" style="margin-bottom: 100px;">
    <div class="container">

        <!-- Call to Action Wrapper Start -->
        <div class="call-to-action-wrapper">

            <img class="cat-shape-01 animation-round" src="assets/images/shape/shape-12.png" alt="Shape">
            <img class="cat-shape-02" src="assets/images/shape/shape-13.svg" alt="Shape">
            <img class="cat-shape-03 animation-round" src="assets/images/shape/shape-12.png" alt="Shape">

            <div class="row align-items-center">
                <div class="col-md-6">

                    <!-- Section Title Start -->
                    <div class="section-title shape-02">
                        <h5 class="sub-title">Become A Instructor</h5>
                        <h2 class="main-title text-white">You can join us as <span>a instructor?</span></h2>
                    </div>
                    <!-- Section Title End -->

                </div>
                <div class="col-md-6">
                    <div class="call-to-action-btn">
                        <a class="btn btn-cyberdojo btn-hover-dark" href="#">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action Wrapper End -->

    </div>
</div>
<!-- Call to Action End -->