<!-- Page Banner Start -->
<div class="section page-banner">

    <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

    <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
            <h2 class="title"><span> Checkout</span></h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <img class="icon-shape-1 animation-left" src="assets/images/shape/shape-5.png" alt="Shape">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="flaticon-badge"></i>
            </div>
        </div>

        <img class="icon-shape-2" src="assets/images/shape/shape-6.png" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">

    <img class="shape-author h-180 d-none" src="assets/images/hacker.png" alt="Shape">

</div>
<!-- Page Banner End -->


<div class="section section-padding">
    <div class="container">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body">

                        <!--Grid row-->
                        <div class="row">
                            <h4 class="mb-4">Billing Details</h4>

                            <!--Grid column-->
                            <div class="col-md-6 mb-4">

                                <!--lastName-->
                                <div class="md-form">
                                    <input type="text" id="lastName" class="form-control">
                                    <label for="lastName" class="">First name</label>
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-4">

                                <!--lastName-->
                                <div class="md-form">
                                    <input type="text" id="lastName" class="form-control">
                                    <label for="lastName" class="">Last name</label>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--email-->
                        <div class="md-form mb-4">
                            <input type="text" id="email" class="form-control" placeholder="youremail@example.com">
                            <label for="email" class="">Email</label>
                        </div>
                        

                        <!--address-->
                        <div class="md-form mb-4">
                            <input type="text" id="address" class="form-control" placeholder="1234 Main St">
                            <label for="address" class="">Address</label>
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-4">
                            <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
                            <label for="address-2" class="">Address 2 (optional)</label>
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-2">
                                <!--firstName-->
                                <div class="md-form ">
                                    <select class="form-control">
                                        <option>Select Country</option>
                                    </select>
                                    <label for="country" class="">Country</label>
                                </div>
                            </div>
                            <!--Grid column-->

                             <!--Grid column-->
                             <div class="col-md-4 mb-2">
                                <!--firstName-->
                                <div class="md-form ">
                                    <select class="form-control">
                                        <option>Select State</option>
                                    </select>
                                    <label for="country" class="">State</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-2">

                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                
                                <label for="zip">Zip Code</label>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                    </form>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Summary                    </span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Original price:</h6>
                            <small class="text-muted">Lorem Ipsum</small>
                        </div>
                        <span class="text-muted">$1200</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Coupon Discount</h6>
                            <small class="text-muted">Lorem Ipsum</small>
                        </div>
                        <span class="text-muted">- $800</span>
                    </li>
                   
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$400</strong>
                    </li>
                </ul>
                <!-- Cart -->

                <!-- Promo code -->
                <form class="card p-2">
                    <small class="f-10">In order to complete your transaction, we will transfer you over to PG's secure servers.</small>   
                     <small class="f-10">By completing your purchase you agree to these Terms of Service.</small>
                     <br>
                    <button class="btn btn-cyberdojo btn-hover-dark py-3 w-100" type="submit">Continue to checkout</button>
                </form>
                <!-- Promo code -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</div>