<!-- Page Banner Start -->
<div class="section page-banner">

    <img class="shape-1 animation-round" src="assets/images/shape/shape-8.png" alt="Shape">

    <img class="shape-2" src="assets/images/shape/shape-23.png" alt="Shape">

    <div class="container">
        <!-- Page Banner Start -->
        <div class="page-banner-content">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Cart</li>
            </ul>
            <h2 class="title"><span> Cart</span></h2>
        </div>
        <!-- Page Banner End -->
    </div>

    <!-- Shape Icon Box Start -->
    <div class="shape-icon-box">

        <img class="icon-shape-1 animation-left" src="assets/images/shape/shape-5.png" alt="Shape">

        <div class="box-content">
            <div class="box-wrapper">
                <i class="flaticon-badge"></i>
            </div>
        </div>

        <img class="icon-shape-2" src="assets/images/shape/shape-6.png" alt="Shape">

    </div>
    <!-- Shape Icon Box End -->

    <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">

    <img class="shape-author h-180" src="assets/images/hacker.png" alt="Shape">

</div>
<!-- Page Banner End -->

<!-- Register & Login Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="cart-head">
                                <tr class="small text-uppercase">
                                    <th scope="col">Course Details</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <br>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="assets/images/courses/courses-05.jpg"
                                                    class="img-sm"></div>
                                            <figcaption class="info"> <a href="#" class="title text-dark"
                                                    data-abc="true">Finance & Investment Series: Learn to Budget</a>
                                                <p class="text-muted small">Category: Cyber Security <br> Instructor: John Doe</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td> <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select> </td>
                                    <td>
                                        <div class="price-wrap"> <var class="price">$10.00</var> <del
                                                class="text-muted"> $9.20 </del> </div>
                                    </td>
                                    <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist"
                                            title="" href="" class="btn btn-light pd-lr-0" data-toggle="tooltip"
                                            data-abc="true"> <i class="fa fa-heart"></i></a> <a href=""
                                            class="btn btn-light" data-abc="true"> Remove</a> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="assets/images/courses/courses-05.jpg"
                                                    class="img-sm"></div>
                                            <figcaption class="info"> <a href="#" class="title text-dark"
                                                    data-abc="true">Finance & Investment Series: Learn to Budget</a>
                                                <p class="text-muted small">Category: Cyber Security <br> Instructor: John Doe</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td> <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select> </td>
                                    <td>
                                        <div class="price-wrap"> <var class="price">$10.00</var> <del
                                                class="text-muted"> $9.20 </del> </div>
                                    </td>
                                    <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist"
                                            title="" href="" class="btn btn-light pd-lr-0" data-toggle="tooltip"
                                            data-abc="true"> <i class="fa fa-heart"></i></a> <a href=""
                                            class="btn btn-light" data-abc="true"> Remove</a> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="assets/images/courses/courses-04.jpg"
                                                    class="img-sm"></div>
                                            <figcaption class="info"> <a href="#" class="title text-dark"
                                                    data-abc="true">Finance & Investment Series: Learn to Budget</a>
                                                <p class="text-muted small">Category: Cyber Security <br> Instructor: John Doe</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td> <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select> </td>
                                    <td>
                                        <div class="price-wrap"> <var class="price">$10.00</var> <del
                                                class="text-muted"> $9.20 </del> </div>
                                    </td>
                                    <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist"
                                            title="" href="" class="btn btn-light pd-lr-0" data-toggle="tooltip"
                                            data-abc="true"> <i class="fa fa-heart"></i></a> <a href=""
                                            class="btn btn-light" data-abc="true"> Remove</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Have coupon?</label>
                                <div class="input-group"> <input type="text" class="form-control coupon" name=""
                                        placeholder="Coupon code"> <span class="input-group-append"> <button
                                            class="btn btn-coupon btn-apply coupon">Apply</button> </span> </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right ml-3">$69.97</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right text-danger ml-3">- $10.00</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b ml-3"><strong>$59.97</strong></dd>
                        </dl>
                        <hr> <a [routerLink]="['/checkout']" class="btn btn-out proceed btn-square btn-main" data-abc="true"> Checkout </a> <a [routerLink]="['']" class="btn btn-out btn-continue btn-square btn-main mt-2"
                            data-abc="true">Continue Shopping</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- Register & Login End -->